<!DOCTYPE html>
<html lang="zh" class="h-100">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link href="{{ url_for('static', filename='vendor/mdb/mdb.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/fontawsome/all.min.css') }}" rel="stylesheet">
  {% block styles %}{% endblock %}
</head>
<body class="h-100">
<div class="container-fluid h-100 d-flex justify-content-center align-items-center">
  {% block main %}{% endblock %}
</div>
<div class="alert fade alert-warning alert-fixed d-flex align-items-center translate-middle start-50" id="alert"
     style="top: -50%">
  <i class="fa-solid fa-circle-info"></i>
  <div class="ms-2"></div>
</div>
<script src="{{ url_for('static', filename='vendor/mdb/mdb.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/axios/axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/config.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>