{% extends 'base.html' %}
{% block title %}扫雷{% endblock %}
{% block styles %}
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
{% endblock %}
{% block main %}
  <main class="position-absolute top-50 start-50 translate-middle">
  {% if g.user %}
    <div class="d-flex align-items-center mb-3">
      <div class="me-3">欢迎您，{{ g.user.username }}</div>
      <a class="btn btn-light" data-mdb-ripple-color="dark" href="{{ url_for('api.logout') }}">退出登录</a>
    </div>
  {% endif %}
    <div class="d-flex align-items-center mb-3 p-2 rounded" style="background: var(--cell-hide-bg-color)">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control" id="width" placeholder="宽：默认为20" style="width: 80px"/>
        <input type="number" class="form-control" id="height" placeholder="高：默认为20" style="width: 80px"/>
        <button class="btn btn-outline-dark" id="game-btn">新游戏</button>
      </div>
      <div class="mx-5 d-flex align-items-center">
        <div class="d-flex align-items-center"><i class="fa-solid fa-flag"></i><span class="ms-2" id="flags">0</span>
        </div>
        <div class="ms-3 d-flex align-items-center"><i class="fa-solid fa-clock"></i><span class="ms-2" id="timer">000</span>s</div>
      </div>
      <div class="d-flex align-items-center">
        <button type="button" id="review-btn" class="btn btn-sm btn-outline-dark" data-mdb-toggle="tooltip" title="回放"><i
          class="fa-solid fa-clock-rotate-left"></i></button>
        <a href="{{ url_for('views.record') }}" id="rank-btn" class="btn btn-sm btn-outline-dark" data-mdb-toggle="tooltip" title="记录"><i
          class="fa-solid fa-ranking-star"></i>
        </a>
      </div>
    </div>
    <div class="text-center">
      <div class="cell-container d-inline-block"></div>
    </div>
  </main>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}